@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
#mastLogin{
	float: right;
	text-align: right;
	padding-right: 15px;
	vertical-align: top;
}
body{
	font-family: "Lato" !important;
}
#header{
	margin-bottom: 0px;
	margin-top: 20px;
	padding-left: 15px;
	float: left;
}
table.login{
	border: 0px;
}
.login th{
	background-color: #fff;
border-bottom: 0px;
font-size: 30px;
text-align: center;
}
label{
	font-family: "Lato";
}
.alertMessage{
	width: 100%;
	text-align: center;
	background-image: none;
}
#siteLinkList li span{
	background-image: url("tab-right.gif");
}
#siteLinkList li a, #siteLinkList li a:link{
	background-image: url("tab-left.gif");
}
.siteNavWrap{
	background-color: #fff;
}
.portletTitle .title h2{
	font-family: "Lato";
	color: inherit;
}
/*blue borders */

#col1of2 .portletTitleWrap, #col2of2 .portletTitleWrap, #col1 .portletTitleWrap {
	border-color: rgb(44,62,80);
}
#footer{
border-color: rgb(44,62,80);
}
/*change icons to glyphocons*/
.icon-sakai-motd, .icon-sakai-iframe-site{
	background-image: url("img/home.png")
}
.icon-sakai-announcements{
	background-image: url("img/flag.png");
}
.icon-sakai-schedule{
	background-image: url("img/calendar.png");
}
.icon-sakai-resources{
	background-image: url("img/folder_open.png");
}
.icon-sakai-sitesetup {
	background-image: url("img/keyboard_wireless.png");
}
.icon-sakai-preferences{
	background-image: url("img/cogwheel.png");
}
.icon-sakai-singleuser {
	background-image: url("img/user.png");
}
.icon-sakai-help{
	background-image: url("img/circle_question_mark.png");
}
.icon-sakai-membership{
	background-image: url("img/parents.png");
}
.icon-sakai-profile2{
	background-image: url("img/address_book.png");
}
.icon-sakai-iframe, .icon-sakai-sitebrowser{
	background-image: url("img/globe_af.png");
}
.icon-sakai-resetpass{
	background-image: url("img/keys.png");
}

/*Copyright text */
.sakaiCopyrightInfo{
	color: rgb(44,62,80);
}
.portletBody{
	font-family: "Lato";
}
#toolMenu li a:link,#toolMenu li a:hover, #toolMenu li a, #subSites li a:link, #subSites li a{
	color: #3498db;
}

.navIntraTool {
	background-color: #fff !important;
}